<a href="https://colab.research.google.com/github/aster-nega/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [139]:
!wget 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'

--2020-06-03 03:12:22--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.163.140.110, 44.228.179.66, 52.89.160.109
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.163.140.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [               <=>  ]  22.10M  2.09MB/s    in 11s

2020-06-03 03:12:35 (2.07 MB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [23170772]

In [140]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [141]:
##### Begin Working Here #####
import pandas as pd 
# Read in the CSV
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)
print(df.shape)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

In [142]:
df.head()

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [143]:
df['term'].head()

0     36 months
1     36 months
2     36 months
3     60 months
4     60 months
Name: term, dtype: object

In [144]:
df.dtypes

id                        object
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

In [0]:
def term_to_int(dirty_term):
  return int(dirty_term.strip().strip('months'))

In [0]:
dirty_strings  = '36 months'

In [0]:
clean_strings_into_integers = []
for  dirty_string in dirty_strings:
  clean_strings_into_integers.append(dirty_strings.strip().strip('months'))

  clean_strings_into_integers

In [148]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [149]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [150]:
df['issue_d'].value_counts()

Oct-2018    46305
Nov-2018    41973
Dec-2018    40134
Name: issue_d, dtype: int64

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'],infer_datetime_format=True)

In [152]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [153]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [154]:
df.dtypes[:15]

id                      object
member_id              float64
loan_amnt              float64
funded_amnt            float64
funded_amnt_inv        float64
term                    object
int_rate                object
installment            float64
grade                   object
sub_grade               object
emp_title               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
dtype: object

In [155]:
df['issue_d'].dt.year

0         2018.0
1         2018.0
2         2018.0
3         2018.0
4         2018.0
           ...
128409    2018.0
128410    2018.0
128411    2018.0
128412       NaN
128413       NaN
Name: issue_d, Length: 128414, dtype: float64

In [156]:
df['issue_d'].dt.month

0         12.0
1         12.0
2         12.0
3         12.0
4         12.0
          ...
128409    10.0
128410    10.0
128411    10.0
128412     NaN
128413     NaN
Name: issue_d, Length: 128414, dtype: float64

In [157]:
df['issue_years'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month
df.head()

    id  member_id  loan_amnt  ...  settlement_term  issue_years issue_month
0  NaN        NaN    20000.0  ...              NaN       2018.0        12.0
1  NaN        NaN    16000.0  ...              NaN       2018.0        12.0
2  NaN        NaN     8425.0  ...              NaN       2018.0        12.0
3  NaN        NaN    10000.0  ...              NaN       2018.0        12.0
4  NaN        NaN    30000.0  ...              NaN       2018.0        12.0

[5 rows x 146 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [158]:
df['int_rate'].head()

0     14.47%
1     14.47%
2     27.27%
3     12.98%
4     26.31%
Name: int_rate, dtype: object

In [215]:
ditry_int.strip().strip('%')

'14.47'

In [131]:
df['int_rate'][3]

' 12.98%'

In [0]:
ditry_int = '14.47%'

In [0]:
def int_rate_to_float(dirty_int_rate):
  return float(dirty_int_rate.strip().strip('%'))

In [165]:
int_rate_to_float(ditry_int)

14.47

In [166]:
ditry_int.strip().strip('%')

'14.47'

In [184]:
df['emp_title'].head(20)

0                           bus driver
1                            Carpenter
2      Senior Director Risk Management
3                              Printer
4                          Casino Host
5                 Help Tech Supervisor
6                            Educator
7                      Program Manager
8                                  NaN
9                         Tire builder
10                              Driver
11                              BANKER
12                    Shift Supervisor
13                            OPERATOR
14          Program Support Assistant
15                      Senior manager
16                         Haz Mat S/R
17    Sr. Vice President -Risk Manager
18                             Manager
19                  Machinst/Programer
Name: emp_title, dtype: object

In [0]:
import numpy as np
examples = ['Manger', 'Driver', ' Program Manager', np.NaN]

In [219]:
def clean_emp_title(title):
  if isinstance(title,str):
    return title.strip().title()
    else:
      return "Unknown"


  for example in examples:
    print(clean_emp_title(example))

SyntaxError: ignored

In [15]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-06-02 23:54:00--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.109.197
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.109.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  31.0MB/s    in 6.2s

2020-06-02 23:54:06 (31.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [16]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [17]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01